:root {
  --font-color: hsl(152, 100%, 3%);
  --link-color: hsl(182, 33%, 16%);
  --alt-link-color: hsl(185, 17%, 61%);
  --background-color: hsl(135, 100%, 99%);

  --light-grey: hsl(10, 4%, 29%);

  --body-font: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  --box-shadow: 4px 4px 8px hsla(10, 4%, 29%, 0.25);

  color: var(--font-color);
  background: var(--background-color);
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #f4fff8;
    --background-color: #000302;
    --link-color: var(--alt-link-color);
  }
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  color: var(--link-color);
}

.container {
  width: 80%;
  max-width: 120ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

.img-responsive {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.img-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  justify-content: center;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}
